
interesting/interesting/__pycache__/urls.cpython-37.pyc
interesting/interesting/__pycache__/settings.cpython-37.pyc
interesting/app/views/__pycache__/index.cpython-37.pyc
interesting/.idea/workspace.xml
