{% extends 'base.html' %}

{% block title %}interesTing{% endblock %}

{% load static %}
{% block site_content %}
    <div class="container-fluid">
        <div class="row d-flex justify-content-center">
            <form method="POST" class="form" action="{% url 'sign up user' %}">
                <h1 class="text-center">Sign Up</h1>
                {% csrf_token %}
                {{ form }}
                <button type="submit" class="btn btn-dark">Submit</button>

            </form>
        </div>
        <div class="row d-flex justify-content-center">
            <span>Do you have an account?
                <a class="btn btn-danger" href="{% url 'login' %}">Sign in</a>
            </span>
        </div>
    </div>
{% endblock %}
