{% extends 'base.html' %}

{% block site_content %}
    {% load static %}
    <div class="container-fluid">
        <div class="row d-flex justify-content-center">
            <form method="POST" class="form" action="{% url 'sign up user' %}">
                <h1 class="text-center">Sign Up</h1>
                {% csrf_token %}
                {{ form }}
                <button type="submit" class="btn btn-dark">Submit</button>
                <span>Do you have an account?
                    <a href="#">Sign in</a>
                </span>
            </form>
        </div>
    </div>
{% endblock %}
