{% extends 'base.html' %}

{% block title %}interesTing{% endblock %}
{% load static %}
{% block site_content %}
    <div class="text-center">
    {% if profile_user.userprofile.first_name and profile_user.userprofile.last_name %}
        <h1>Hello, {{ profile_user.userprofile.first_name }} {{ profile_user.userprofile.last_name }}</h1>
    {% else %}
        <h1>Hello, {{ profile_user.username }}</h1>
    {% endif %}
    {% if profile.profile_img %}
        <img class="rounded-circle mb-3" src="{{ profile.profile_img.url }}" alt="Generic placeholder image"
             width="140"
             height="140">
    {% else %}
        <img class="rounded-circle mb-3"
             src="https://thumbs.dreamstime.com/b/anonymous-user-icon-person-business-suit-question-mark-internet-security-concept-vector-illustration-88848107.jpg"
             alt="Generic placeholder image" width="140"
             height="140">
    {% endif %}
        <a href="{% url 'edit profile' user.pk %}" class="btn btn-dark btn-lg">Update Profile Info</a>
    {% if posts %}
        <h3 class="text-center">Here are you're posts.</h3>
        <div class="container">
            <div class="card text-center">
                {% for post in posts %}
                    <div class="card-header">
                        <h2 class="card-title text-centre">{{ post.post_name }}</h2>
                    </div>
                    <div class="card-body">
                        <img class="rounded mx-auto d-block" src="{{ post.image.url }}" alt="{{ post.image.name }}">
                        <h3 class="card-text">{{ post.description }}</h3>
                        <a href="{% url 'post details' post.pk %}" class="btn btn-dark btn-lg btn-block">Details</a>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock %}
