{% extends 'base.html' %}

{% load static %}
{% block title %}interesTing{% endblock %}
{% block site_content %}
    <h1 class="text-center">Did you know ?</h1>
    <div class="container">
        <div class="card text-center">
            {% for post in post_list %}
                <div class="card-header">
                    <h2 class="card-title text-center">{{ post.post_name }}</h2>
                </div>
                <div class="card-body">
                    <img class="rounded mx-auto d-block" src="{{ post.image.url }}" alt="{{ post.image.name }}">
                    <h3 class="card-text">{{ post.description }}</h3>
                    <a href="{% url 'post details' post.pk %}" class="btn btn-dark btn-lg btn-block">Details</a>
                </div>
            {% endfor %}
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                        <li class="page-item"><a class="page-link"
                                                 href="?page={{ page_obj.previous_page_number }}">Previous</a>
                        </li>
                    {% endif %}
                    <li class="page-item"><a class="page-link">{{ page_obj.number }}</a></li>
                    {% if page_obj.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
{% endblock %}
