{% extends 'base.html' %}

{% load static %}

{% block site_content %}
    <h1 class="text-center">Did you know ?</h1>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                {% for post in posts %}
                    <img class="post-image" src="{{ post.image.url }}" alt="{{ post.image.name }}">
                    <p>{{ post.description }}</p>
                    <a href="{% url 'post details' post.pk %}">Details</a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
