{% extends 'base.html' %}

{% block title %}interesTing{% endblock %}
{% block site_content %}
    <div class="row">
        <div class="col-lg-12 text-center">
            <h1>Are you sure you want to delete your post {{ post.name }}?</h1>
            <div class="m-auto d-flex justify-content-center">
                <div class="m-2">
                    <form method="post" action="{% url 'delete post' post.pk %}">
                        {% csrf_token %}
                        <button class="btn btn-danger">
                            Confirm
                        </button>
                    </form>
                </div>
                <div class="m-2">
                    <a class="btn btn-dark" href="{% url 'post details' post.pk %}">No, go back</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
