{% extends 'base.html' %}

{% block title %}interesTing{% endblock %}
{% block site_content %}
    <h1 class="text-center">Edit your post</h1>
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <form method="post" action="{% url 'edit post' post.pk %}" class="furniture-form"
                  enctype="multipart/form-data">
                {{ form }}
                {% csrf_token %}
                <img src="{{ post.image_url }}" class="w-50 rounded mx-auto d-block"/>
                <button class="btn btn-primary mt-2" type="submit">Edit</button>
            </form>
        </div>
    </div>
{% endblock %}
