{% extends 'base.html' %}

{% block title %}interesTing{% endblock %}

{% load static %}
{% block site_content %}
    <div class="container-fluid">
        <div class="row d-flex justify-content-center">
            <form class="form" method="POST" action="{% url 'login' %}">
                <h1 class="text-center">Sign In</h1>
                {% csrf_token %}
                {{ form }}
                <button type="submit" class="btn btn-dark">Sign In</button>
            </form>
        </div>
        <div class="container-fluid">
            <div class="row d-flex justify-content-center">
                <span>Don't have an account?
                    <a class="btn btn-danger" href="{% url 'sign up user' %}">Sign up</a>
                </span>
            </div>
        </div>
    </div>
{% endblock %}
